body {
    display: grid;
    grid-template-areas:
      'header header header'
      'menu subheader subheader'
      'menu main side'
      'menu main buttons';
    grid-template-rows: auto auto 250px 200px;
    background-color:white;
    padding: 0;
    margin: 0;
  }


  /* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

nav {
    display: flex;
    flex-direction: row;
    padding: 2em;
    background-color: black;
    color: whitesmoke;
  }
 
html {
    font-family: SegoeUI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
}

ul{
    list-style-type: none;
    text-align: left;
    
}
li{
    padding-bottom: 20%;
}
article{
    position: static;
}

form{
    grid-area: buttons;   
    display: flex;
    flex-direction: column;
    position: static;
}

/* ----------------------------------------------- */
/* Grid Box */
/* ----------------------------------------------- */

.wrapper{
    grid-area: header;
}

.body_message{
    grid-area: menu;
    background-color: lightgray;
    width: 150px;
    height: 100%;
}


.newUserSection {
    padding-left: 3%;
    padding-top: 2em;
}

.textfields{
    padding-top: 1em;
}

input, select[type=text] {
    width: 60%;
    border-radius: 4px;
    padding: 5px;
    transition: .3;
    background-color: #E9D9D9;
}


input[type=submit]{
    padding: 1%;
    width: 10%;
    border-radius: 25px;
}

  /* ----------------------------------------------- */
/* Images */
/* ----------------------------------------------- */

img{
    float: left;
    width: 20px;
    height: 20px;
}


  /* ----------------------------------------------- */
/* Colour */
/* ----------------------------------------------- */

input{
    border: 1px solid #29465b;  
}

input[type=text] {
    background-color: #E9D9D9;
}

input[type=text]:focus{
    
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

input[type=submit]{

    color: azure;
    background-color: #2350d0;

}

.Filter{
    grid-area: subheader;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Filter h4{
    display: block;
    text-align: center;
    padding: 16px;
    font-size: 20px;
    float: left;
}

.Filter h5{
    display: block;
    text-align: center;
    padding: 16px;
    font-size: 20px;
    float: left;
}

.Filter h5:hover{
background-color: #3251a8 ;
color: white;}

.tableinfo{
    grid-area: main;
}

#markClosed{
    color: white;
    background-color: #3251a8;
    margin: 5px;
    height: 50px;
    width: 130px; 
}

#markInProgress{
    color: white;
    background-color: #32a852;
    margin: 5px;
    height: 50px;
    width: 130px;
}

#CreateNewIssue{
    color: white;
    grid-area: subheader;
    background-color: #32a852;
    margin: 20px;
}

th{
    background-color: lightgray;
}

td{
    border-bottom-color: lightgray;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    padding: 4px;
}

.article_header{
    grid-area: subheader;
    font-size: 25px;
    padding: 10px;
}
.article_text{
    grid-area: main;
    padding: 10px;
}

.side_info {
    background-color: lightgray;
    grid-area: side;
    border-width: 5px;
    border-color: darkgray;
    border-style: solid;
    padding: 5px;
    font-size: 11px ;
}